@import './mixins';

:root {
    --primary-font: 'Nunito', sans-serif;
    --primary-color: #F4E041;
    --secondary-color: #00BDD3;
    --button-hover-color: #FFE302;
    --button-disabled-color: #B4B4B4;
    --primary-text-color: rgba(0, 0, 0, 0.87);
    --secondary-text-xolor: #FFFFFF;
    --background-color: #F8F8F8;

}