@import '../../sass/variables';
@import '../../sass/buttons';

.header{
    display: flex;
    align-items: center;
    justify-items: baseline;
    height: 60px;
    
    @include max767{
        padding: 0 16px;
    }
    @include min768-max1023{
        padding: 0 32px;
    }
    @include min1024{
        padding: 0 64px;
    }
}

.header-logo{
    width: 104px;
    height: 26px;
}


.header-buttons{
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.btn {
	@extend %butt_size_1;
	&.yellow_mod {
		@extend %butt_yellow_1;
	}
}