.header{
    display: flex;
    align-items: center;
    justify-items: baseline;
    height: 60px;
}

.header-logo{
    width: 104px;
    height: 26px;
}


.header-buttons{
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.btn {
	@extend %butt_size_1;
	&.yellow_mod {
		@extend %butt_yellow_1;
	}
}